@using BlogApplication.Domain.Common
@{
    var pageTitle = BlogSettings.Title;
    var pageDescription = BlogSettings.Description;
    var customHead = "";
    try
    {
        pageTitle = Model.PageTitle;
        pageDescription = Model.PageDescription;
        var cf = Model.CustomFields;
        customHead = (cf.ContainsKey(Constants.HeadCode) && !string.IsNullOrEmpty(cf[Constants.HeadCode])) ? cf[Constants.HeadCode] : "";
    }
    catch { }
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@pageTitle</title>
<meta name="description" content="@pageDescription">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Edgar Perez">
<!-- Bootstrap core CSS -->
<link href="~/themes/Profesional/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="~/themes/Profesional/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- Custom styles for this template -->
<link href="~/themes/Profesional/css/clean-blog.min.css" rel="stylesheet">

<link rel="shortcut icon" href="~/embedded/lib/img/favicon.ico">
@Html.Raw(customHead)
