@using BlogApplication.Domain.Common
@using BlogApplication.Domain.Data.Models
@using BlogApplication.Domain.Extensions
@model Pager

@if (Model != null)
{
<div class="clearfix">
    @if (Model.ShowOlder)
    {
        <a class="btn btn-primary float-right" href="~/@ApplicationSettings.BlogRoute@Model.RouteValue@Model.Newer">Older Posts &rarr;</a>
    }
    @if (Model.ShowNewer)
    {

        <a class="btn btn-primary float-left" href="~/@ApplicationSettings.BlogRoute@Model.RouteValue@Model.Newer">&larr; Newer Posts </a>
    }
</div>
        }
